@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.App {
    width: 100vw;
    height: 100vh;
    font-family: "Oswald";
    background-color: black;
    margin: auto;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.Header {
    width: 100vw;
    height: 10vh;
    background-color: black;
    flex-direction: column;
    font-family: "Oswald";
    display: flex;
    justify-content: center;
    align-items: center;
}

.body {
    background-color: grey;
}

.title {
    display: inline-flex;
    text-transform: uppercase;
    font-size: 40px;
    z-index: 1;
    color: white;
}

.ostTop {
    margin-left: 20px;
}

.artBot {
    margin-left: 20px;
}

.text {
    font-size: 30px;
    display: flex;
    justify-content: space-evenly;
    color: white;
    background-color: black;
}

.reviews {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    padding-left: 20px;
    padding-top: 5px;
    gap:10px
}

.Footer {
    width: 100vw;
    height: 10vh;
    background-color: black;
}

@media(max-width: 800px) {
    .heading {
        margin: 15px 0;
        font-size: 35px;
    }
}